<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<links>
		<link>
			<id>1</id>
			<name>br-eth1</name>
			<srcAddr>10.1.50.50</srcAddr>
			<destAddr>10.1.50.55</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>1</id>
			<name>br-eth1</name>
			<srcAddr>10.1.50.55</srcAddr>
			<destAddr>10.1.50.50</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>2</id>
			<name>br-eth2</name>
			<srcAddr>10.1.60.60</srcAddr>
			<destAddr>10.1.60.65</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>2</id>
			<name>br-eth2</name>
			<srcAddr>10.1.60.65</srcAddr>
			<destAddr>10.1.60.60</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>3</id>
			<name>br-eth3</name>
			<srcAddr>10.1.70.70</srcAddr>
			<destAddr>10.1.70.75</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>3</id>
			<name>br-eth3</name>
			<srcAddr>10.1.70.75</srcAddr>
			<destAddr>10.1.70.70</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>4</id>
			<name>br-eth4</name>
			<srcAddr>10.1.80.80</srcAddr>
			<destAddr>10.1.80.85</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>4</id>
			<name>br-eth4</name>
			<srcAddr>10.1.80.85</srcAddr>
			<destAddr>10.1.80.80</destAddr>
			<type>EGRESS</type>
		</link>
		<link>
			<id>5</id>
			<name>br-eth5</name>
			<srcAddr>192.168.100.254</srcAddr>
			<type>INGRESS</type>
		</link>
	</links>
	<ccmTopicName>CCM</ccmTopicName>
	<switchName>br-int</switchName>
	<jmsServer>localhost</jmsServer>
	<jmsPort>61616</jmsPort>
	<matchFields>
		OFPXMT_OFB_IP_PROTO,OFPXMT_OFB_IPV4_SRC,OFPXMT_OFB_IPV4_DST,OFPXMT_OFB_TCP_DST,OFPXMT_OFB_UDP_DST,OFPXMT_OFB_SCTP_DST
	</matchFields>
</configuration>